
<app-ucompany-menu></app-ucompany-menu>

<!-- <div class="grid">
    <div class="col-12 md:col-3 lg:col-2 m-0 pr-0">
        <div class="test-panel-area1">
            panel1
        </div>
    </div>
    <div class="col-12 md:col-9 lg:col-10 m-0 pl-0">
        <div class="test-panel-area2">
            {{menuMode}}
        </div>
    </div>
</div> -->


<div class="grid">
    <div class="col-12 md:col-3 lg:col-2 m-0 pr-0">
        <div class="test-panel-area1">
            panel1
        </div>
    </div>
    <div class="col-12 md:col-9 lg:col-10 m-0 pl-0">
        <div class="test-panel-area2">
            {{menuMode}}
        </div>
    </div>
</div>
