<div class="surface-section">
    <div class="text-500 mb-5">input factory name and description.</div>
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2  flex-wrap">
            <div class="text-500 w-6 md:w-3 font-medium">OrderID</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input id="companyName" type="text" pInputText class="w-full " [(ngModel)]="orderID">
            </div>
        </li>
        <li class="flex align-items-center py-3 px-2  flex-wrap">
            <div class="text-500 w-6 md:w-3 font-medium">Order Desc</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input id="companyDesc" type="text" pInputText class="w-full " [(ngModel)]="orderDesc">
            </div>
        </li>
    </ul>
    <div class="surface-section mt-3 px-4  md:px-6 lg:px-8 border-top-1 surface-border" >
        <div class="border-300 text-center mt-3">
            <p-button label="create new" (click)="createOrder()"></p-button>
        </div>
    </div>
</div>
