input{
    font-size: 20px;
}
input:focus {
    outline: none !important;
    border-color: var(--red-900);
    box-shadow: 0 0 10px var(--red-500);
    background-color: var(--yellow-100);
}

.bg1{
    // font-size: 40px;
    outline: none !important;
    border-color: var(--yellow-500);
    box-shadow: 0 0 10px var(--yellow-100);
    background-color: var(--yellow-100);
}
input.bg1:focus{
    outline: none !important;
    border-color: var(--green-500);
    box-shadow: 0 0 10px var(--green-100);
    background-color: var(--yellow-100);
}
