
<p-toast position="top-right" [baseZIndex]="10000"></p-toast>

<div class="surface-card p-5 shadow-2 border-round  w-12" >
    <div class="w-12">
        <div class="mb-4  p-fluid">
            <div class="mb-4">
                <label for="pass1" class="block font-medium text-900 mb-2">Password</label>
                <input id="pass1" type="password" pinputtext=""
                    class="p-inputtext p-component p-element"
                    [(ngModel)]="newPassword1"/>
            </div>
            <div class="mb-4">
                <label for="pass2" class="block font-medium text-900 mb-2">Password again</label>
                <input id="pass2" type="password" pinputtext=""
                class="p-inputtext p-component p-element"
                [(ngModel)]="newPassword2"/>
            </div>
        </div>
    </div>
    <div>
        <button pbutton="" pripple="" label="Update Profile"
            class="p-element p-ripple w-auto p-button p-component"
            *ngIf="newPassword1 === newPassword2 && newPassword1 !== '' && newPassword1.length >= 6"
            (click)="editPassFactoryStaff()">
            <span class="p-button-label">Update Password</span>
            <span class="p-ink"></span>
        </button>
    </div>
</div>
