
<app-ucompany-menu></app-ucompany-menu>

<!-- <p>financial works!</p> -->

<p-toast position="top-right" ></p-toast>



<div class="surface-ground pb-2 mt-0" >
    <div class="surface-card p-4 shadow-2 border-round p-fluid">
        <div class="grid formgrid p-fluid">
            <div class="field col-12 order-set-zone text-center flex justify-content-center flex-wrap">
                <span class="flex align-items-center justify-content-center">financial</span>
                <!-- <span class="flex align-items-center justify-content-center mx-4">
                    <button pButton pRipple type="button" >
                        save
                    </button>
                </span> -->
            </div>

            <div class="field col-3">

            </div>

            <div class="field col-9">

            </div>

        </div>
    </div>
</div>
