

<app-ucompany-menu></app-ucompany-menu>

<p-toast position="top-right" ></p-toast>

<div class="surface-ground px-2 py-2 md:px-2 lg:px-2">
    <!-- <div class="p-fluid flex flex-column lg:flex-row"> -->
    <div class="p-fluid flex flex-column lg:flex-row">
        <ul class="list-none m-0 p-0 flex flex-row lg:flex-column justify-content-evenly md:justify-content-between lg:justify-content-start mb-5 lg:pr-8 lg:mb-0">
            <li>
                <span class="order-id">
                    {{order.orderID}}
                </span>
            </li>
            <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('create-order')">
                    <i
                        class="pi pi-id-card md:mr-2"></i>
                        <span class="font-medium hidden md:block">
                            {{orderMode === 'create-order'?'create':'edit'}} order
                        </span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>
            <li *ngIf="false">
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('order-product-setting');">
                    <i
                        class="pi pi-file-edit md:mr-2"></i>
                        <span class="font-medium hidden md:block">order product setting</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>



            <li >
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('create-queue-order');">
                    <i
                        class="pi pi-list md:mr-2"></i>
                        <span class="font-medium hidden md:block">queue order create</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>

            <!-- <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('create-queue-order-subcontactor');">
                    <i
                        class="pi pi-list md:mr-2"></i>
                        <span class="font-medium hidden md:block">queue order create (sub contactor)</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li> -->

            <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('order-set-country');">
                    <i
                        class="pi pi-list md:mr-2"></i>
                        <span class="font-medium hidden md:block">set zone/country</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>
            <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('order-set-color');">
                    <i
                        class="pi pi-list md:mr-2"></i>
                        <span class="font-medium hidden md:block">set color</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>
            <li *ngIf="false">
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('order-set-subProduction');">
                    <i
                        class="pi pi-list md:mr-2"></i>
                        <span class="font-medium hidden md:block">set sub production</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>
            <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('create-label-code');">
                    <i
                        class="pi pi-qrcode md:mr-2"></i>
                        <span class="font-medium hidden md:block">create label Code</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>
            <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('images')">
                    <i class="pi pi-image md:mr-2"></i>
                    <span class="font-medium hidden md:block">Images</span>
                    <span class="p-ink" style="height: 149px;width: 149px;top: -60.2778px;left: 47.0555px;"></span>
                </a>
            </li>
            <li>
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('customer')">
                    <i class="pi pi-user md:mr-2"></i>
                        <span class="font-medium hidden md:block">customer</span>
                        <span class="p-ink" style="height: 149px;width: 149px;top: -60.6111px;left: 13.0555px;"></span>
                </a>
            </li>

            <li *ngIf="false">
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('order-outsource-progress-tracking');">
                    <span class="material-symbols-outlined">data_check</span>
                    <span class="font-medium hidden md:block">outsource progress tracking</span>
                    <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>

            <li *ngIf="false">
                <a pripple=""
                    class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-800 hover:surface-hover transition-duration-150 transition-colors"
                    (click)="changeMode('set-product-lost');">
                    <span class="material-symbols-outlined text-xl">brightness_alert</span>
                    &nbsp;
                    <span class="font-medium hidden md:block"> set product lost</span>
                    <span class="p-ink" style="height: 149px;width: 149px;top: -59.9445px;left: 14.0555px;"></span>
                </a>
            </li>

        </ul>

        <div class="surface-ground px-4 py-2 md:px-4 lg:px-4" *ngIf="mode==='create-order'">
            <div class="text-900 font-medium text-xl mb-3">
                {{orderMode === 'create-order'?'create':'edit'}} order
            </div>
            <div class="surface-card p-4 shadow-2 border-round p-fluid">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12 md:col-6">

                        <div class="field mb-4 col-12">
                            <label for="orderID" class="font-medium text-900">Order ID</label>
                            <input id="orderID" type="text" pinputtext=""
                                class="p-inputtext p-component p-element"
                                [disabled]="orderMode === 'edit-order'"
                                [(ngModel)]="order.orderID"/>
                        </div>

                        <div class="field mb-4 col-12 ">
                            <label for="invoice_date" class="font-medium text-900">Invoice Date</label>
                            <p-calendar id="invoice_date" class="p-element p-inputwrapper "
                                dateFormat="dd-mm-yy"
                                [(ngModel)]="orderDate">
                                <span class=" p-calendar p-calendar-w-btn"><input type="text" autocomplete="off"
                                    class=" p-inputtext p-component" />
                                    <button type="button" pbutton="" pripple="" tabindex="0"
                                        class="p-element p-ripple p-datepicker-trigger
                                        p-button p-component p-button-icon-only ">
                                        <span class="p-button-icon pi pi-calendar" aria-hidden="true"></span>
                                        <span aria-hidden="true" class="p-button-label">&nbsp;</span>
                                        <span class="p-ink"></span>
                                    </button>

                                </span>
                            </p-calendar>
                        </div>

                        <div class="field mb-4 col-12">
                            <label for="orderDetail" class="font-medium text-900">Detail</label>
                            <textarea id="orderDetail" pInputTextarea [autoResize]="true" rows="5"
                                [(ngModel)]="order.orderDetail"></textarea>
                        </div>
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                        <div class="grid formgrid p-fluid">
                            <div class="field mb-4 col-12">
                                <div class="font-medium text-900 mb-2">factory</div>
                                <div class="cursor-pointer" (click)="showFactorySelectionModal()">
                                    <app-s-factory-card [factory]="factorySelected"></app-s-factory-card>
                                </div>
                            </div>
                            <div class="field mb-4 col-12">
                                <div class="font-medium text-900 mb-2">customer</div>
                                <div class="cursor-pointer" (click)="showCustomerSelectionModal()">
                                    <app-smd-customer-card [customer]="customer"></app-smd-customer-card>
                                </div>
                            </div>
                            <div class="field mb-4 col-12">
                                <div class="font-medium text-900 mb-2">product</div>
                                <div class="cursor-pointer" (click)="showProductSelectionModal()">
                                    <app-s-product-card ></app-s-product-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p-accordion class=" col-12 ">
                    <p-accordionTab header="Order List Table" styleClass="  font-medium text-900  ">
                        <app-s-zonecountry-orderview [order]="order"></app-s-zonecountry-orderview>
                    </p-accordionTab>
                </p-accordion>
                <!-- <div>

                    <app-s-orderview
                        [currentCompanyOrder]="currentCompanyOrder"
                        [orderStyleColorSize]="orderStyleColorSizeF"
                        [currentProductQtyAllC]="currentProductQtyAllC"
                        [order]="order">
                    </app-s-orderview>
                </div> -->

                <div class="grid formgrid p-fluid bg-orange-50" *ngIf="orderMode === 'edit-order'">
                    <div class="surface-border border-top-1 opacity-50 mb-4 col-12 bg-orange-50"></div>
                    <p-accordion class=" col-12 ">
                        <p-accordionTab header="Add Order Product List" styleClass="  font-medium text-900  bg-orange-50 ">

                            <span class="font-medium text-900 bg-orange-50 ">
                                <div class="grid formgrid p-fluid bg-orange-50">

                                    <div class="my-2 mx-3 p-0 col-12">
                                        <button pButton pRipple type="button"
                                            class="p-button-outlined  w-6"
                                            (click)="showFactoryOrderStyleSelectionModal()">
                                            <span class="">Factory : &nbsp;&nbsp;&nbsp;</span>
                                            <span class="font-bold">{{factorySelectForOrderStyle.fInfo.factoryName}}</span>
                                            <!-- <span class="text-xs text-500 font-italic">
                                                 &nbsp;&nbsp;&nbsp; [ {{factorySelectForOrderStyle.factoryID}} ]
                                            </span> -->
                                        </button>
                                    </div>

                                    <div class="field mb-4 col-6  bg-orange-50">
                                        <div class="card mt-3 p-3 " (dblclick)="clrQRCode()">
                                            <span class="font-semibold text-2xl">{{style | uppercase}}</span>
                                            &nbsp;&nbsp;
                                            <span class="font-semibold text-xl">{{targetPlace | uppercase}}</span>
                                            &nbsp;&nbsp;
                                            <span class="font-semibold text-xl">{{countryID | uppercase}}</span>
                                            &nbsp;&nbsp;
                                            <span class="font-semibold text-xl">{{year}}</span>
                                            &nbsp;&nbsp;
                                            <span class="font-semibold text-xl">{{c1 | uppercase}}</span>
                                            <span class="font-semibold text-xl">{{c2 | uppercase}}</span>
                                            <span class="font-semibold text-xl">{{c3 | uppercase}}</span>
                                            <span class="font-semibold text-xl">{{c4 | uppercase}}</span>
                                            <span class="font-semibold text-xl">{{c5 | uppercase}}</span>
                                            &nbsp;&nbsp;
                                            <span class="font-semibold text-xl">{{size | uppercase}}</span>
                                            &nbsp;&nbsp;
                                            <span class="font-semibold text-xl">{{sex | uppercase}}</span>
                                            <!-- <span class="font-semibold text-xl">{{runNo}}</span> -->
                                        </div>
                                    </div>
                                    <div class="field mb-4 col-2 bg-orange-50">
                                        <label for="Qty" class="font-medium text-900">QTY</label>
                                        <!-- <input id="Qty" type="text" pinputtext="" class="p-inputtext p-component p-element"
                                            [(ngModel)]="name2"/> -->
                                        <p-inputNumber  mode="decimal" inputId="withoutgrouping"
                                            [useGrouping]="false"
                                            [showClear]="true"
                                            (onFocus)="$event.target.select()"
                                            [(ngModel)]="productORInfo1.productQty">
                                        </p-inputNumber>
                                    </div>

                                    <div class="field mb-4 col-2 bg-orange-50">
                                        <label for="Qty" class="font-medium text-900">Loss</label>
                                        <p-inputNumber  mode="decimal" inputId="withoutgrouping"
                                            [useGrouping]="false"
                                            [showClear]="true"
                                            (onFocus)="$event.target.select()"
                                            [(ngModel)]="productORInfo1.productLossQty"
                                            [disabled]="forLossInputDisable">
                                        </p-inputNumber>
                                    </div>

                                    <div class="field mb-4 col-2 bg-orange-50">
                                        <div class="mb-2">&nbsp;</div>
                                        <button pbutton="" pripple="" icon="pi pi-plus"
                                            class="p-element p-ripple p-button-secondary p-button-outlined w-auto p-button p-component"
                                            [disabled]="checkAddBtn()"
                                            (click)="addProductORInfo()">
                                            <span class="p-button-icon p-button-icon-left pi pi-plus" aria-hidden="true"></span>
                                            <span class="p-button-label">Add</span>
                                            <span class="p-ink"></span>
                                        </button>
                                    </div>
                                    <div class="field mb-4 col-12 bg-orange-50">
                                        <div class="grid formgrid p-fluid bg-orange-50">
                                            <div class="field  mb-4 col-12 bg-orange-50">
                                                <button pButton="" pripple="" label="target" (click)="showTargetPlaceSelectionModal()"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component mr-2"
                                                    [ngClass]="checkTargetSelected() ? 'bg-yellow-100' : ''">
                                                </button>

                                                <button pButton="" pripple="" label="year" (click)="showYearSelectionModal()"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component mr-2"
                                                    [ngClass]="checkYearSelected() ? 'bg-yellow-100' : ''">
                                                </button>

                                                <button pButton="" pripple="" label="c1" (click)="showColorSelectionModal('c1')"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component"
                                                    [ngClass]="checkColorSelected('c1') ? 'bg-yellow-100' : ''">
                                                </button>
                                                <button pButton="" pripple="" label="c2" (click)="showColorSelectionModal('c2')"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component"
                                                    [ngClass]="checkColorSelected('c2') ? 'bg-yellow-100' : ''"
                                                    [disabled]="colorBtn2_5Disable">
                                                </button>
                                                <button pButton="" pripple="" label="c3" (click)="showColorSelectionModal('c3')"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component"
                                                    [ngClass]="checkColorSelected('c3') ? 'bg-yellow-100' : ''"
                                                    [disabled]="colorBtn2_5Disable">
                                                </button>
                                                <button pButton="" pripple="" label="c4" (click)="showColorSelectionModal('c4')"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component"
                                                    [ngClass]="checkColorSelected('c4') ? 'bg-yellow-100' : ''"
                                                    [disabled]="colorBtn2_5Disable">
                                                </button>
                                                <button pButton="" pripple="" label="c5" (click)="showColorSelectionModal('c5')"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component mr-2"
                                                    [ngClass]="checkColorSelected('c5') ? 'bg-yellow-100' : ''"
                                                    [disabled]="colorBtn2_5Disable">
                                                </button>

                                                <button pButton="" pripple="" label="size" (click)="showSizeSelectionModal()"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component mr-2"
                                                    [ngClass]="checkSizeSelected() ? 'bg-yellow-100' : ''">
                                                </button>

                                                <button pButton="" pripple="" label="sex" (click)="showSexSelectionModal()"
                                                    class="p-button-outlined p-button-rounded p-element p-ripple  w-auto p-button p-component"
                                                    [ngClass]="checkSexSelected() ? 'bg-yellow-100' : ''"
                                                    [disabled]="sexBtnDisable">
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </span>
                        </p-accordionTab>
                    </p-accordion>

                    <div class="col-12  bg-orange-50">
                        <div class="grid formgrid p-fluid bg-orange-50">
                            <div class="field mb-4 col-offset-1 col-11">
                                <button pButton pRipple type="button" icon="pi pi-search"
                                    class=" p-button-raised p-button-text p-button-secondary"
                                    (click)="showProductfilterModal()">
                                    &nbsp;
                                    <span class="mx-1" *ngFor="let style of styleS; let i1 = index">
                                        <p-chip label="{{style}}" styleClass="style-chip"></p-chip>
                                    </span>
                                    <span class="mx-1" *ngFor="let targetPlace of targetPlaceS; let i2 = index">
                                        <p-chip label="{{targetPlace}}" styleClass="targetPlace-chip"></p-chip>
                                    </span>
                                    <span class="mx-1" *ngFor="let color of colorS; let i3 = index">
                                        <p-chip label="{{color}}" styleClass="color-chip"></p-chip>
                                    </span>
                                    <span class="mx-1" *ngFor="let size of sizeS; let i4 = index">
                                        <p-chip label="{{size}}" styleClass="size-chip"></p-chip>
                                    </span>
                                </button>
                            </div>
                            <div class="field mb-4 col-offset-1 col-11">
                                <!-- <p-table [value]="order.productOR.productORInfo" [tableStyle]="{'min-width': '60rem'}"> -->
                                <p-table [value]="tempFullProductORInfo" [tableStyle]="{'min-width': '60rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>code</th>
                                            <th>Place</th>
                                            <th>color</th>
                                            <th>size</th>
                                            <th>Qty</th>
                                            <th>Loss</th>
                                            <th>Total</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-productOR let-idx="rowIndex">
                                        <tr class="text-sm">
                                            <td>{{idx+1}}. {{userService.formatProductBarcodeString(productOR.productBarcode)}}</td>
                                            <td>
                                                {{productOR.targetPlace.targetPlaceName}} /&nbsp;
                                                <span class="text-sm text-blue-600">{{productOR.targetPlace.countryName}}</span>
                                            </td>
                                            <td>
                                                <!-- <span *ngFor="let color of productOR.productColor.split(','); let i = index">
                                                    <button pButton type="button"
                                                        class="p-button-rounded p-button-sm w-auto mr-1"
                                                        [style]="getBackgroudColor(color)">
                                                        &nbsp;
                                                    </button>
                                                </span> -->
                                                <p-avatarGroup styleClass="mb-3">
                                                    <p-avatar *ngFor="let color of productOR.productColor.split(','); let i = index"
                                                            styleClass="p-mr-2 border-300"
                                                            [style]="{'background-color': userService.getColorByColorCode(color)}"
                                                            shape="circle"
                                                        ></p-avatar>
                                                </p-avatarGroup>
                                            </td>
                                            <td>{{productOR.productSize}}</td>
                                            <td>{{productOR.productQty}}</td>
                                            <td>{{productOR.productLossQty}}</td>
                                            <td>{{calTotal(productOR.productQty, productOR.productLossQty)}}</td>
                                    </ng-template>
                                    <!-- <ng-template pTemplate="summary">
                                        <div class="flex align-items-center justify-content-between">
                                            In total there are  products.
                                        </div>
                                    </ng-template> -->
                                </p-table>
                            </div>
                            <div class="field font-medium text-600 mb-4 col-1 ">
                                Note
                            </div>
                            <div class="field mb-4 col-11">
                                <textarea id="productORDetail" rows="5"  pInputTextarea [autoResize]="true"
                                    [(ngModel)]="order.productOR.productORDetail"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button pbutton="" pripple="" label="Create Invoice" icon="pi pi-file"
                    class="p-element p-ripple w-auto p-button p-component mt-4"
                    (click)="postOrderCreateNew()"
                    *ngIf="orderMode==='create-order'">
                    <span class="p-button-icon p-button-icon-left pi pi-file" aria-hidden="true"></span>
                    <span class="p-button-label">create-order</span>
                    <span class="p-ink"></span>
                </button>
                <button pbutton="" pripple="" label="Create Invoice" icon="pi pi-file"
                    class="p-element p-ripple w-auto p-button p-component mt-4"
                    (click)="putOrderUpdate()"
                    *ngIf="orderMode==='edit-order'">
                    <span class="p-button-icon p-button-icon-left pi pi-file" aria-hidden="true"></span>
                    <span class="p-button-label">Edit order</span>
                    <span class="p-ink"></span>
                </button>
                <p-messages></p-messages>
            </div>
        </div>

        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='create-queue-order'">
            <app-order-queue-create [isOutsource]="false"></app-order-queue-create>
        </div>
        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='create-queue-order-subcontactor'">
            <app-order-queue-create [isOutsource]="true"></app-order-queue-create>
        </div>

        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='order-product-setting'">
            <app-order-product-setting></app-order-product-setting>
        </div>
        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='order-set-country'">
            <app-order-set-country></app-order-set-country>
        </div>
        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='order-set-color'">
            <app-order-set-color></app-order-set-color>
        </div>
        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='order-set-subProduction'">
            <app-order-set-subproduction></app-order-set-subproduction>
        </div>
        <div class="surface-ground flex-auto py-2  " *ngIf="mode==='create-label-code'">
            <app-s-label-qrcode></app-s-label-qrcode>
        </div>
        <div class="surface-ground py-2" *ngIf="mode==='images'">
            <div class="surface-card p-4 shadow-2 border-round p-fluid">
                <app-s-product-image></app-s-product-image>
            </div>
        </div>
        <div class="surface-ground py-2" *ngIf="mode==='customer'">
            <app-s-customer-card></app-s-customer-card>
        </div>

        <div class="surface-ground flex-auto py-2  " *ngIf="mode==='set-product-lost'">
            <app-s-order-setlost></app-s-order-setlost>
        </div>



        <div class="surface-ground flex-auto py-2  w-11" *ngIf="mode==='order-outsource-progress-tracking'">
            <app-order-outsource-progress-tracking
                [order]="order"
            ></app-order-outsource-progress-tracking>
        </div>
    </div>
</div>







