

<app-s-work-station-head></app-s-work-station-head>

<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">

    <p-tabView>
        <p-tabPanel header="send to repair">
            <div class="grid ">
                <div class="col-12 lg:col-2"></div>
                <div class="col-12 lg:col-8">
                    <input type="text" pInputText  class="w-full"
                        [(ngModel)]="productBarcodeNoInput"
                        (keyup.enter)="getDatarecordProductBarcodeNo('sendtorepair')"

                        #input1>
                    <div class="text-sm text-600">{{productBarcodeNoInput}}</div>
                </div>
                <div class="col-12 lg:col-2"></div>

                <!-- <div class="col-2"></div>
                <div class="col-8">
                    <button pButton pRipple type="button" (click)="productReturn()">
                        product back
                    </button>
                </div>
                <div class="col-2"></div> -->

                <div class="col-12 lg:col-1"></div>
                <div class="col-12 lg:col-10">
                    <p-paginator [rows]="limit" [totalRecords]="countProductionsReturn" [rowsPerPageOptions]="[20,50]"
                        (onPageChange)="paginate($event)"></p-paginator>
                    <p-table [value]="currentProductAllDetailCFN"
                        class="w-full"
                        styleClass="p-datatable-sm">

                        <ng-template pTemplate="header">
                            <tr>
                                <th class="px-0" style="width: 30%">Code</th>
                                <th class="px-0" style="width: 10%">Date</th>
                                <th class="px-0" style="width: 8%">bun No</th>
                                <!-- <th class="px-0" style="width: 17%;">factory</th> -->
                                <!-- <th class="px-0" style="width: 15%">toNode</th> -->
                                <!-- <th class="px-0" style="width: 5%">Qty</th> -->
                                <!-- <th class="px-0" style="width: 5%">start</th> -->
                                <!-- <th class="px-0" style="width: 5%">end</th> -->
                                <th class="px-0" style="width: 5%">user</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-prod let-idx="rowIndex">
                            <tr class="text-sm">
                                <td>{{userService.formatProductBarcodeString(prod.productBarcodeNo)}}</td>
                                <td class="text-xs ">
                                    {{prod.datetime | date: 'dd-MM-yyyy hh:mm'}}
                                </td>
                                <td>{{prod.bundleNo}}</td>

                                <!-- <td>{{prod.toNode}}</td> -->
                                <!-- <td>{{prod.productCount}}</td> -->
                                <!-- <td>{{prod.numberFrom}}</td> -->
                                <!-- <td>{{prod.numberTo}}</td> -->
                                <td>{{userService.strFirstAndDot(prod.createBy.userName, 10)}}</td>
                        </ng-template>

                    </p-table>
                </div>
                <div class="col-12 lg:col-1"></div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="back from repaired">
            <div class="grid ">
                <div class="col-12 lg:col-2"></div>
                <div class="col-12 lg:col-8">
                    <input type="text" pInputText  class="w-full"
                        [(ngModel)]="productBarcodeNoInput2"
                        (keyup.enter)="getDatarecordProductBarcodeNo('backfromrepair')"

                        #input2>
                    <div class="text-sm text-600">{{productBarcodeNoInput}}</div>
                    <p-messages [value]="msgs"></p-messages>
                </div>
                <div class="col-12 lg:col-2"></div>
            </div>
        </p-tabPanel>

    </p-tabView>


</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" (onHide)="onDialogHide()"></p-confirmDialog>


