



<div class="">

    <p-paginator [rows]="limit" [totalRecords]="qrCodeCount.countQty" [rowsPerPageOptions]="[20,50]"
        (onPageChange)="paginate($event)"></p-paginator>
    <p-table [value]="qrCodeList"
        class="w-full"
        styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="">{{orderID}} </div>
            <div class="txt-sm-gray">QTY : {{qrCodeCount.countQty}} </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="px-0 text-center" style="width: 10%">b.No</th>
                <th class="px-0 text-center" style="width: 20%">Dept</th>
                <th class="px-0 text-center" style="width: 70%">QRCode</th>
                <th class="px-0 text-center" style="width: 10%;">action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prod let-idx="rowIndex">
            <tr class="text-xs">
                <td class="text-center">{{prod.bundleNo}}</td>
                <td class="text-xs text-center">
                    {{prod.toNode}}
                </td>
                <td class="text-center">
                    <div class="txt-productBarcodeNo">{{prod.productBarcodeNo}}</div>
                    <div class="txt-productBarcodeNoReal"
                        *ngIf="prod.productBarcodeNo !== prod.productBarcodeNoReal">
                        {{prod.productBarcodeNoReal}}
                    </div>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-file-edit"
                        class="p-button-rounded p-button-text"></button>
                </td>
        </ng-template>
    </p-table>

</div>
