<div class="surface-card shadow-2 p-4 my-2
    flex flex-column align-items-center md:flex-row md:align-items-stretch "
    style="border-radius: 10px;max-width: 600px;min-width: 200px;">
    <span>
        <img [src]="genImagePath(factory.fInfo.pic)" class="w-10rem h-auto">
    </span>
    <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
        <p class="mt-0 mb-3 line-height-3 text-center md:text-left  white-space-normal">
            {{factory.fInfo.factoryName}}.
            <span class="outsource-caption-head" *ngIf="factory.fInfo.isOutsource">Outsource (sub-contact)</span>
        </p>
        <span class="text-900 font-medium mb-1 mt-auto">{{factory.factoryID}}</span>
        <div class="text-600 text-sm">{{factory.factoryID}}</div>
    </div>
</div>


