

<div class="surface-card  shadow-2 border-round p-fluid w-12">
    <!-- <div class="style-select mb-2">
        {{styleSelect}}
    </div> -->
    <!-- <button pButton pRipple type="button" icon="pi pi-search"
        class=" p-button-raised p-button-text p-button-secondary "
        (click)="showProductfilterModal()">
        &nbsp;
        <span class="mx-1" *ngFor="let style of styleS; let i1 = index">
            <p-chip label="{{style}}" styleClass="style-chip"></p-chip>
        </span>
        <span class="mx-1" *ngFor="let targetPlace of targetPlaceS; let i2 = index">
            <p-chip label="{{targetPlace}}" styleClass="targetPlace-chip"></p-chip>
        </span>
        <span class="mx-1" *ngFor="let color of colorS; let i3 = index">
            <p-chip label="{{color}}" styleClass="color-chip"></p-chip>
        </span>
        <span class="mx-1" *ngFor="let size of sizeS; let i4 = index">
            <p-chip label="{{size}}" styleClass="size-chip"></p-chip>
        </span>
    </button> -->
</div>
