<p>order-product-setting works!</p>

<p-tabView>
    <p-tabPanel header="weight">
        product weight
        <br>
        yarnID
        <br> &nbsp;&nbsp;&nbsp;
        yarn color 1
        &nbsp;&nbsp;&nbsp;  weight1
        <br> &nbsp;&nbsp;&nbsp;
        yarn color 2
        &nbsp;&nbsp;&nbsp;  weight2
    </p-tabPanel>
    <!-- <p-tabPanel header="yarn">
        yarnID
        <br> &nbsp;&nbsp;&nbsp;
        yarn color 1
        &nbsp;&nbsp;&nbsp;  weight1
        <br> &nbsp;&nbsp;&nbsp;
        yarn color 2
        &nbsp;&nbsp;&nbsp;  weight2
    </p-tabPanel> -->
    <p-tabPanel header="Header 3">
        Content 3
    </p-tabPanel>
</p-tabView>
