

<div class="grid">
    <div class="col-1"></div>
    <div class="col-10">
        <span *ngFor="let subN of subNodeFlowCost; let i = index">
            <p-button
                label="{{subN.subNodeID}} &nbsp;&nbsp;&nbsp; {{userService.getSubNodeFlowName(subN.nodeID, subN.subNodeID, userService.subNodeflowC)}}"
                styleClass=" p-button-help w-12 mb-4 text-left {{checkSubNodeSelected(subN)}}"
                (onClick)="addSelect(subN)">
            </p-button>
        </span>
    </div>
    <div class="col-1"></div>
    <div class="col-12">
        <p-button label="select" class="" styleClass="p-button-rounded p-button-warning mt-5 w-12"
            (onClick)="selectCommit()">
        </p-button>
    </div>
</div>
